google-api-python-client==2.94.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6 
fastapi
uvicorn
pydantic
deepface==0.0.79
opencv-python-headless
requests
pillow
numpy==1.23.5
keras==2.11.0
tensorflow==2.11.0
python-multipart
opencv-python
pydrive
torch==2.0.1
torchvision==0.15.2
torchaudio==2.0.2
typing-extensions
